/*
Theme Name:     rechnerhaus
Description:    Child theme for Ultimatum
Author:         Ultimatum Theme
Template:       ultimatum
Version:        1.0.0
http://localhost/www.la-classics.de/
*/

/* iCheck square black
----------------------------------- */
@import 'css/iCheck/square/square.css';

/* chosen select styles
----------------------------------- */
@import 'css/chosen/chosen.css';

/* chosen select styles
----------------------------------- */
@import 'css/animate.css';

/* plugin fixes
----------------------------------- */

.bx-wrapper .bx-viewport {
  box-shadow: none;
}

.formwrap div{
	margin-bottom: 10px !important;
}

.formwrap div .icheckbox_square {
  margin-bottom: 0px !important;
}


.formwidth{
	width: 100%;
}

.chosen{
	width: 100%;
}

span.wpcf7-list-item {
  display: inline;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 15px;
}

span.wpcf7-list-item:last-of-type {
  margin-bottom: 20px;
}

span.wpcf7-list-item-label {
  padding-left: 5px;
}

span.wpcf7-form-control-wrap input {
  background-color: white;
  font-family: inherit;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  padding: 3px;
  outline: none;
  height: 30px;
  width: 100%;
  margin-top: 5px;
}

span.wpcf7-form-control-wrap textarea {
    padding-left: 8px;
    resize: none;
    height: 97px;
    border-color: lightgray;
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

input.wpcf7-form-control.wpcf7-submit {
  display: inline-block;
  color: #fff !important;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 32px;
  line-height: 32px;
  width: 137px;
  text-decoration: none;
  text-align: center;
  background: #5472d2;
  border: 0;
  cursor: pointer;
}

button, select {
    text-transform: none;
    width: 100%;
    margin-top: 10px;
    height: 30px;
}

select {
    border: 1px solid #ccc;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0 !important;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
    margin-top: 10px;
}

.chosen-container-single .chosen-single {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: none;
  box-shadow: none;
  line-height: 30px;
  color: #000;
  margin-top: 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ccc;
  background-image: none;
  box-shadow: none;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ccc;
  background-image: none;
  color: #fff;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
}

.chosen-container-single .chosen-single div b {
  background-position: 2px 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 8px;
}

a.chosen-single:hover {
  color: #000;
  text-decoration: none;
}


/* layout styles
----------------------------------- */
body {
    font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #2a3956 !important;
    background-color: #fff;
    height:100%;
    margin:0;

}

html {
  margin:0;
}

p {
    margin: 1em 0 1em 0;
    line-height: 20px;
    text-align: left;
    color: #2a3956 !important;
    font-size: 13px;
}


a {
  color: black;
  text-decoration: underline;
}

a:hover, a:focus {
    color: #ccc;
    text-decoration: underline;
}

a {
    color: #000;
}

.bodywrapper a{
  color: #2a3956 !important;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: 'Times New Roman',Sans-serif;
  font-size: 2.1em;
  margin-top: 0px;
}

h1, .h1{
  font-size: 28px;
  padding-top: 10px;
  text-align: center;
  color: #5472d2 !important;
}

h2, .h2{
  font-size: 26px;
  padding-top: 10px;
  text-align: center;
  color: #000 !important;

}

h3, .h3 {
  color: #000;
  font-size: 30px;
}

/*h3, .h3 {
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  color: #2A3956;
}*/

h4, .h4 {
    font-size: 18px;
    color: #000;
}

#bodywrapper {
    display: block;
    background-color: #fff;
    overflow-x: hidden;
    margin: 0 auto;
    overflow-y: hidden;
}

.ult-container.container {
    width: 1240px !important;
}

.bodywrapper li {
    padding-left: 15px;
    line-height: 1.4em;
    color: #2a3956 !important;
}

li {
    padding-left: 15px;
    line-height: 1.4em;
}

/* header styles
----------------------------------- */


header {
    color: black;
    display: block;
    background-color: #fff;
    width: 1240px;
    margin: 0 auto;
}

header a {
  text-decoration: none;
}

header .container {
      background-color: #fff;
}

header ul li {
    display: inline-block;
}

#logo-container {
    padding: 15px 0 10px 20px;
	  width:100%;
}

.top_header .widget {
  display: inline-block;
}

.top_header a:active{
text-decoration: underline;
}

.top_header p{
  color: #fff !important;
}

.top_header .current-menu-item {
text-decoration: underline;
}

/* header navigation styles
----------------------------------- */

.wfm-mega-menu {
    width: 100% !important;
}

#col-2-2 a {
    color: red;
}
.wfm-mega-menu ul.menu {
    font-family: 'Open Sans', sans-serif;
}

.wfm-mega-menu ul li {
    padding: 0;
    font-weight: 500;
    font-style: 14px;
}

.wfm-mega-menu ul li a {
  padding: 35px 33px 35px 33px;
  background-color: #ffffff;
  color: #2B3957;
  transition: background-color .5s ease-in-out ,color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out,color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out,color .5s ease-in-out;
   margin-top: 5px;
}

.wfm-mega-menu ul li a:hover {
  text-decoration: underline;
}

.wfm-mega-menu ul li a .wf-mega-icon {
    display: none;
}


.wfm-mega-menu ul li .sub-container.non-mega .sub {
    background: rgba(234, 234, 234, 0.9);
    padding: 5px 0px 10px 0px;
    margin-top: 5px;
    margin-left: 35px;
}

.wfm-mega-menu ul li .sub-container.non-mega li {
    padding: 0 10px;
    width: auto;
    display: -webkit-box;
}

.wfm-mega-menu ul li .sub-container.non-mega li a {
    padding: 7px 0px 7px 0px;
    background: none;
    border-bottom: 2px solid transparent;
}

.wfm-mega-menu ul li .sub-container.non-mega li a:hover {
    background: none;
    border-bottom: 2px solid #5472d2;
    text-decoration: none;
}

.wfm-mega-menu ul li .sub-container.non-mega li.current-menu-item a {
    border-bottom: 2px solid #000000;
}


/* footer styles
----------------------------------- */

footer {
    position: relative;
    background-color: #012243;
    display: block;
    margin: 0 auto;
    color: #fff;
}

footer .container {
    background-color: #012243;
    padding: 10px 35px;
    width: 1240px;
    margin: 0 auto;
}

.main_footer .container{
      border-top: 10px solid #364668 !important;
}

.second_footer .container{
  background-color: #364668;
}

.second_footer p{
  color: #fff !important;
}

footer a {
    color: #fff;
    float: left;
    text-decoration: none;
}

footer p {
    color: #fff !important;
}

footer ul {
    padding-left: 0;
}

footer ul li {
    display: block;
    clear: both;
}

.abstand {
	width:250px;

}

/* other styles
----------------------------------- */
/* Blog  */
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat{
  background: #5472d2;
  width: 150px;
  height: 30px;
  color: #fff !important;
}
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover{
  background: #5472d2;
}
/*  */

.four_icon_row .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left{
  text-align: center;
}

.three_box_row .vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left{
  text-align: center;
}

.four_icon_row p {
  text-align: center;
}

.four_icon_row h2 {
  text-decoration: underline;
}

.four_icon_row {
  background: rgba(234, 234, 234, 0.9);
  margin: 30px 0;

}

.four_icon_row .vc_icon_element{
  margin-bottom: 0 !important;
}

/* .four_icon_row .vc_btn3.vc_btn3-size-md {
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 37px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
} */

.four_icon_row .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
    margin-bottom: 10px !important;
}

.three_box_row{
  margin: 30px 0;
  background: rgba(234, 234, 234, 0.9);
}

.about_us_row {
    background: rgba(204, 204, 204, 0.2);
}


.image_box .wpb_single_image img {
    height: 205px;
}

.test_row {
  margin-top: 50px;
}
.test_row p{
  text-align: left;
}
.test_row h1{
  text-align: left;
}
.test_row h2{
  text-align: left;
}

.text_underline {
  border-bottom: 3px solid #ccc;
}


/*HOME 2  */
/* Button  */
.vc_btn3.vc_btn3-size-md {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
    width: 150px;
}

.vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    color: #fff;
    border-color: #ebebeb;
    background-color: #5472d2 !important;
}

.text_box {
    align-self: center;
}

.home2_request{
    background: rgba(234, 234, 234, 0.9);
}

.request_row{
  margin: 30px 0 60px;
}

/* Landing pages */
.vc_custom_1531298109081 {
    background-image: url(http://root.localhost/rechnerhaus/www.baufinanzierung-plus.de/wp-content/uploads/2018/07/ParkInn.jpg?id=103) !important;
    height: 470px;
    background-position: center;
}

.contact_box {
    position: absolute;
    z-index: 1;
    background: #fff;
    margin: 15px 30px;
}


/* SEARCH */
input#s {
    width: 100%;
    height: 30px;
    color: #000;
}

.newsletter_row{
  background: rgba(234, 234, 234, 0.9);
  padding: 30px 0;
}
.newsletter_row div.wpcf7 {
    display: flex;
    justify-content: center;
}

.contact_row {
    background: rgba(234, 234, 234, 0.9);
    margin-bottom: 40px;
}

.la_city {
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    width: 230px;
    padding: 20px;
}


/* Blog Seite */
.blog_row h4{
  font-size: 30px;
}

/* responsive styles
----------------------------------- */

@media (min-width: 1200px) {
  .container {
      width: 100%;
  }


}

@media (max-width: 1024px) {
  header {
      width: 285px;
  }
  .wfm-mega-menu ul li a {
        padding: 35px 33px 35px 33px;
  }
  .box_build.wpb_column.vc_column_container.vc_col-sm-6 {
      padding-right: 10px;
  }

.img_row .ult-banner-block {
      display: inline-block;
      max-width: 33%;
  }
}


@media (max-width: 999px) {
  .container {
      width: 100%;
  }
    .wfm-mega-menu ul li a {
        padding: 35px 23px 35px 23px;
  }

.img_row .ult-banner-block{
      display: inline-block;
      max-width: 33%;
  }
}


@media (min-width: 992px) {
  .container {
      width: 100%;
  }
  .personally_row {
    padding: 50px;
  }

.img_row .ult-banner-block {
      display: inline-block;
      max-width: 32%;
  }
}

@media (max-width: 991px) {
  .contact_row {
      flex-direction: column-reverse;
  }
  .contact_row .img_row {
      margin-bottom: 35px;
  }
  .standorte {
    position: absolute;
    top: 35%;
    padding: 40px 5px 0 20px;
  }
  .standorte .wpb_wrapper {
    padding: 10px 5px;
  }
}



@media (max-width: 928px) {
 .box_build2 .wpb_wrapper h1{
    font-size: 17px;
    }
  .personally_row {
    padding: 15px;
    }

  .google_review {
  padding-top: 20px;
  padding-left: 25px;
  }
 .career_row .wpb_column.vc_column_container.vc_col-sm-6 {
      min-width: 283px;
  }

}

@media (max-width: 887px){
  .career_row .wpb_column.vc_column_container.vc_col-sm-6 {
       min-width: 270px;
   }
.img_row .ult-banner-block {
       display: inline-block;
       max-width: 33%;
   }
}


@media (max-width: 862px){
  .home_img h3{
    font-size: 25px;
  }

  .home_img p {
    font-size: 13px;
  }
}

@media (max-width: 849px) {
    .wfm-mega-menu ul li a {
        padding: 35px 18px 35px 18px;
  }


}


@media (max-width: 767px) {
  header,
  footer {
    overflow-x: hidden;
  }
  html{
    overflow-x: hidden;
  }


  /* mobile nav */
  .slicknav_parent a.slicknav_item.slicknav_row:after {
    content: "\2039";
    position: absolute;
    padding: 0px 20px;
    transform: rotate(270deg);
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.1s;
    right: 20px;
  }

  .slicknav_parent.slicknav_open a.slicknav_item.slicknav_row:after{
    transform: rotate(90deg);
    right: 15px;
  }


  .slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em;
    display: none;
}


  .slicknav_nav a {
      padding: 12px 15px;
      font-size: 20px;
      margin: 0;
    }
    .slicknav_nav .slicknav_row, .slicknav_nav a {
      padding: 12px 15px;
      margin: 0;
    }
    .slicknav_nav li,
    .slicknav_nav ul.sub-menu li {
      border-bottom: 1px solid #ffffff;
      padding-left: 0;
    }
    .slicknav_nav ul.sub-menu li a {
      background: #e8e8e8;
  }
    .slicknav_btn {
        position: absolute;
        left: 0;
        margin-top: -88px;
        margin-left: 20px;
        background-color: transparent;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .slicknav_menu .slicknav_icon-bar {
        background-color: #000000;
        width: 25px;
        height: 2px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid #000;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    .slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
        margin-top: 6px;
    }
    /* slicknav animation start */
    .slicknav_btn span.slicknav_icon-bar:nth-child(1) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    .slicknav_btn span.slicknav_icon-bar:nth-child(2) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    .slicknav_btn span.slicknav_icon-bar:nth-child(3) {
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(2) {
      width: 0%;
      opacity: 0;
    }

    .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(3) {
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      transform: rotate(-44deg);
    }
    /* slicknav animation end */
    .slicknav_nav ul {
      margin: 0 0 0 0px;
    }
    .slicknav_nav ul li{
      padding-left: 5px;
    }
    .slicknav_nav ul li:last-child {
      border-bottom: none;
    }

}

@media (max-width: 676px) {


}

@media (max-width: 635px) {

}

@media (max-width: 525px){


}

@media (max-width: 479px) {

}

@media (max-width: 425px){

}

@media (max-width: 375px){


}

@media (max-width: 320px){


}
