.sticked-footer{position:fixed;width:100%;bottom:0}
.sticked-header{position:fixed;width:100%;top:0;z-index:9999}
.screen-reader-text{
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    position: absolute !important;
    height: 1px;
    width: 1px;
}
