/*
Theme Name:     rechnerhaus
Description:    Child theme for Ultimatum
Author:         Ultimatum Theme
Template:       ultimatum
Version:        1.0.0
http://localhost/www.la-classics.de/
*/

/* iCheck square black
----------------------------------- */
@import 'css/iCheck/square/square.css';

/* chosen select styles
----------------------------------- */
@import 'css/chosen/chosen.css';

/* chosen select styles
----------------------------------- */
@import 'css/animate.css';

/* plugin fixes
----------------------------------- */

.bx-wrapper .bx-viewport {
  box-shadow: none;
}

.formwrap div {
  margin-bottom: 10px !important;
}

.formwrap div .icheckbox_square {
  margin-bottom: 0px !important;
}


.formwidth {
  width: 100%;
}

.chosen {
  width: 100%;
}

span.wpcf7-list-item {
  display: inline;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 15px;
}

span.wpcf7-list-item:last-of-type {
  margin-bottom: 20px;
}

span.wpcf7-list-item-label {
  padding-left: 5px;
}

span.wpcf7-form-control-wrap input {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  border: 2px solid #e6e6e6;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  padding: 3px;
  outline: none;
  height: 59px;
  width: 100%;
  margin-top: 5px;
  border-radius: 10px;
}

span.wpcf7-form-control-wrap textarea {
  padding-left: 8px;
  resize: none;
  height: 97px;
  border-color: lightgray;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

input.wpcf7-form-control.wpcf7-submit {
  display: inline-block;
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 45px;
  line-height: 31px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  background: #e62658;
  border: 0;
  cursor: pointer;
  border-radius: 80px;
  width: 100%;
  height: 59px;
  max-width: 297px;
}

button,
select {
  text-transform: none;
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

select {
  border: 1px solid #ccc;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0 !important;
  font-weight: bold;
  vertical-align: -webkit-baseline-middle;
  margin-top: 10px;
}

.chosen-container-single .chosen-single {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: none;
  box-shadow: none;
  line-height: 30px;
  color: #000;
  margin-top: 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #ccc;
  background-image: none;
  box-shadow: none;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ccc;
  background-image: none;
  color: #fff;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
}

.chosen-container-single .chosen-single div b {
  background-position: 2px 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 8px;
}

a.chosen-single:hover {
  color: #000;
  text-decoration: none;
}


/* layout styles
----------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #2a3956 !important;
  background-color: #fff;
  height: 100%;
  margin: 0;

}

.logo svg {
  width: 220px;
}

html {
  margin: 0;
  overflow-x: hidden;
}

p {
  margin: 1em 0 1em 0;
  line-height: 27px;
  text-align: left;
  color: #001B69;
  font-size: 18px;
}


a {
  color: black;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

a {
  color: #000;
}

.bodywrapper a {
  color: #AACE42 !important;
  cursor: pointer;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1em;
  margin-top: 0px;
}

h1,
.h1 {
  font-size: 39px;
  padding-top: 10px;
  text-align: left;
  color: #001B69;
  font-weight: bold;
  line-height: 45px;
}

h2,
.h2 {
  font-size: 39px;
  padding-top: 10px;
  text-align: left;
  color: #001B69;
  line-height: 31px;
  font-weight: bold;
}

h3,
.h3 {
  color: #fff;
  font-size: 36px;
  line-height: 55px;
}

/*h3, .h3 {
  padding-bottom: 10px;
  line-height: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  color: #2A3956;
}*/

h4,
.h4 {
  font-size: 18px;
  color: #444444;
}

#bodywrapper {
  display: block;
  background-color: #fff;
  overflow-x: hidden;
  margin: 0 auto;
  overflow-y: hidden;
}

.bodywrapper li {
  padding-left: 15px;
  line-height: 37px;
  color: rgba(0, 27, 105, 1) !important;
  font-size: 18px;
}

li {
  padding-left: 15px;
  line-height: 1.4em;
}

.heading {
  margin-bottom: 80px;
}

.ultimate-map-wrapper {
  margin: 0 !important;
}

.img_margin {
  top: 35px;
  position: relative;
}

/* header styles
----------------------------------- */


header {
  color: black;
  display: block;
  background-color: #fff;
  width: 100%;
  margin-bottom: 54px;
}

header a {
  text-decoration: none;
  color: #fff;
}


header ul li {
  display: inline-block;
}


/* header navigation styles
----------------------------------- */

.wfm-mega-menu {
  width: 100% !important;
}

#col-2-2 a {
  color: red;
}

.wfm-mega-menu ul.menu {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

.wfm-mega-menu ul li {
  padding: 0;
  font-weight: 500;
  font-style: 14px;
  /* margin: 0 40px; */
  margin: 0 auto;
}

.wfm-mega-menu ul li a {
  padding: 0px 15px 10px 15px;
  color: #001B69;
  transition: background-color .5s ease-in-out, color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out, color .5s ease-in-out;
  font-size: 20px;
  margin-right: 27px;
  margin-top: 15px;
  font-weight: bold;
}

.wfm-mega-menu ul li a .wf-mega-icon {
  display: none;
}


.wfm-mega-menu ul li .sub-container.non-mega .sub {
  background: rgba(234, 234, 234, 0.9);
  padding: 5px 0px 10px 0px;
  margin-top: 5px;
  margin-left: 35px;
}

.wfm-mega-menu ul li .sub-container.non-mega li {
  padding: 0 10px;
  width: auto;
  display: -webkit-box;
}

.wfm-mega-menu ul li .sub-container.non-mega li a {
  padding: 7px 0px 7px 0px;
  background: none;
  border-bottom: 2px solid transparent;
}

.wfm-mega-menu ul li .sub-container.non-mega li a:hover {
  background: none;
  border-bottom: 2px solid #5472d2;
  text-decoration: none;
}

.wfm-mega-menu ul li .sub-container.non-mega li.current-menu-item a {
  border-bottom: 2px solid #000000;
}

.contact_button .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover {
  background-color: #E62658 !important;
  color: #fff !important;
  border-color: #E62658 !important;
}

/* footer styles
----------------------------------- */

footer {
  position: relative;
  background-image: linear-gradient(to right, #001B69 , #E62658);
  display: block;
  margin: 0 auto;
  color: #fff;
  padding: 10px 321px 10px 0;
}

/* footer .container {
  background-color: #0C3437;
  padding: 77px 140px 0 140px;
  width: 100%;
  margin: 0 auto;
} */

/* .main_footer .container {
  border-top: 10px solid #364668 !important;
} */

.second_footer .container {
  background-color: #a6a6a6;
}

.second_footer p {
  color: #fff !important;
}

footer a {
  color: #fff;
  font-size: 20px;
  line-height: 17px;
  margin: 10px 0px;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  color: #fff;
}

footer p {
  color: #CCCCCC !important;
}

.company {
  font-size: 20px;
  line-height: 26px;
  display: flex;
  justify-content: flex-end;
  color: #CCCCCC;
}

footer ul {
  padding-left: 0;
  margin-bottom: 72px;
}

footer ul li {
  display: block;
  clear: both;
  margin: 18px 10px;
}

.abstand {
  width: 250px;

}

.container {
  width: 100% !important;
  max-width: 1920px;
  
}

ul#menu-footernavigation {
  font-size: 18px;
  display: flex;
}

/* other styles
----------------------------------- */
header .col-md-6 {
  width: 100%;
  max-width: fit-content;
}

header .col-md-3 {
  align-self: center;
}

header .row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.horizontal-menu ul li {
  border: none;
}

.buero_img{
  width: 100%;
}

.buero_img .wpb_content_element {
  margin: 0 !important;
}

.buero_img .vc_column-inner {
  padding: 0 !important;
}

.two_box_row {
  background: rgba(230, 230, 230, 0.34);
  padding: 0px 321px 0 35px;
}

.gradient_header {
  background-image: linear-gradient(to right, #001B69 , #E62658);
}

.gradient_box{
  background-image: linear-gradient(to right, #001B69 , #E62658);
  padding: 34px 15px 159px 321px;
  width: 100%;
  max-width: 805px;
  position: absolute;
  z-index: 2;
  top: 122px;
}

.grey_bg{
  background-color: rgba(230, 230, 230, 0.34);
  padding: 98px 465px 118px 430px;
}

.progress_section{
  background-color: rgba(230, 230, 230, 0.34);
  margin-bottom: 62px;
  padding: 0 320px;
}

.blue_bg_row{
  background-color: #001B69;
  padding: 87px 15px 243px 430px;
}

.blue_bg_row h1, .blue_bg_row p{
  color: #fff;
}

.two_box_row p {
  text-transform: uppercase;
}

.contact_button .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #E62658 !important;
  border-radius: 120px;
  max-width: 406px;
  height: 59px;
  font-size: 24px;
  font-weight: bold;
  margin-right: 35px;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.expose_button .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
  background-color: #001B69 !important;
  border-color: #fff !important;
  color: #fff !important;
  border-radius: 120px;
  width: 297px;
  height: 59px;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}

.mieten_section{
  margin-bottom: 122px;
  /* padding: 0px 15px 0px 430px; */
  padding: 0px 465px 0px 430px;
}

.standort_section{
  padding: 0px 0px 0px 430px;
  background-color: rgba(230, 230, 230, 0.24);
}

.standort_box {
  padding-top: 60px;
}

.standort_box img {
  max-width: 624px !important;
  z-index: 2;
  position: relative;
}

h2.wpb_heading.wpb_progress_bar_heading {
  font-size: 18px;
  color: rgba(230, 38, 88, 1);
  font-weight: bold;
  line-height: 31px;
  padding: 0px 0px 30px 110px;
}

span.vc_bar {
  background-color: transparent;
  background-image: linear-gradient(to right, #001B69 , #E62658);
}

span.progress_text {
  font-size: 12px;
  color: rgba(97, 97, 97, 1);
  line-height: 19px;
  position: relative;
  left: -40px;
  top: -45px;
}



.svg_break {
  opacity: 0;
}

.svg_break.replaced-svg {
  opacity: 1;
}

.progress_info p {
  text-align: right;
  line-height: 0;
}

.vc_progress_bar {
  margin: 0;
}

.standort_box li::before {
  content: "";
  background-image: url('images/checkmark.svg');
  background-repeat: no-repeat;
  padding: 0 20px;
}

.progress_icon:after{
  content: "";
  background-image: url(images/timeline-dot.svg);
  /* padding: 7px 27px 6px 0; */
  display: block;
  width: 30px;
  height: 30px;
  top: -20px;
  position: relative;
  left: -25px;
  background:  #001B69;
  -webkit-mask: url(images/timeline-dot.svg) no-repeat;
}

.vc_progress_bar .vc_single_bar:after {
  content: "";
  background-image: url(images/timeline-dot.svg);
  display: block;
  width: 30px;
  height: 30px;
  right: -25px;
  position: absolute;
  top: -10px;
  -webkit-mask: url(images/timeline-dot.svg) no-repeat;
  background: #E6E6E6;
}

.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_blue .vc_label{
  background: rgba(230, 230, 230, 1);
  z-index: 0;
}

.standort_box li{
  list-style-type: none;
  padding: 0 !important;
}

.standort_box ul {
  padding: 0px;
}

.vc_btn3.vc_btn3-style-modern{
  background-image: none !important;
}

.map_box p {
  position: absolute;
  z-index: 2;
  color: rgba(0, 27, 105, 1);
  font-size: 18px;
  margin: 0;
  padding: 47px 0 0 34px;
  text-transform: uppercase;
}

.map_adress {
  margin: 0;
}

.ultimate_google_map:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 27, 105, 1);
  pointer-events: none;
  opacity: 1;
  mix-blend-mode: hue;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
}

.vc_btn3-container.contact_button.vc_btn3-inline {
  margin-right: 35px;
}

.belegt {
  display: none;
}

.group1.active polygon,
.group1:hover polygon {
    stroke: red !important;

}
.group1.active polygon:first-child,
.group1:hover polygon:first-child {
  fill: #e8c2c2 !important;

}

.group2.active rect,
.group2:hover rect{
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group2.active polygon,
.group2:hover polygon {
  stroke: red !important;
}

.group3.active rect,
.group3:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group3.active polygon,
.group3:hover polygon {
  stroke: red !important;
}

.group4.active polygon,
.group4:hover polygon {
  fill: #e8c2c2 !important;
  stroke: red !important;
}

.group5.active rect,
.group5:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group5.active polygon,
.group5:hover polygon {
  stroke: red !important;
}

.group6.active rect,
.group6:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group6.active polygon,
.group6:hover polygon {
  stroke: red !important;
}

.group7.active polygon,
.group7:hover polygon {
  fill: #e8c2c2 !important;
  stroke: red !important;
}

.group8.active polygon,
.group8:hover polygon {
  stroke: red !important;
}

.group8.active polygon:first-child,
.group8:hover polygon:first-child {
  fill: #e8c2c2 !important;
}

.group9.active rect,
.group9:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group9.active polygon,
.group9:hover polygon {
  stroke: red !important;
}

.group10.active polygon,
.group10:hover polygon {
  stroke: red !important;
}
.group10.active polygon:first-child,
.group10:hover polygon:first-child {
  fill: #e8c2c2 !important;
}

.group11.active polygon,
.group11:hover polygon {
  stroke: red !important;
}
.group11.active polygon:first-child,
.group11:hover polygon:first-child {
  fill: #e8c2c2 !important;
}

.group12.active rect,
.group12:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group12.active polygon,
.group12:hover polygon {
  stroke: red !important;
}

.group13.active rect,
.group13:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group13.active polygon,
.group13:hover polygon {
  stroke: red !important;
}

.group14.active polygon,
.group14:hover polygon {
  fill: #e8c2c2 !important;
  stroke: red !important;
}

.group15.active rect,
.group15:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group15.active polygon,
.group15:hover polygon {
  stroke: red !important;
}

.group16.active rect,
.group16:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group16.active polygon,
.group16:hover polygon {
  stroke: red !important;
}

.group17.active polygon,
.group17:hover polygon {
  fill: #e8c2c2 !important;
  stroke: red !important;
}

.group18.active polygon,
.group18:hover polygon {
  stroke: red !important;
}
.group18.active polygon:first-child,
.group18:hover polygon:first-child {
  fill: #e8c2c2 !important;
}

.group19.active rect,
.group19:hover rect {
  fill: #e8c2c2 !important;
  stroke: red !important;
}
.group19.active polygon,
.group19:hover polygon {
  stroke: red !important;
}

.group20.active polygon,
.group20:hover polygon {
  stroke: red !important;
}
.group20.active polygon:first-child,
.group20:hover polygon:first-child {
  fill: #e8c2c2 !important;
}

.leased:before{
  content: '';
  background-image: url(../../uploads/2019/10/vermietet.png);
  width: 100px;
  background-size: 40px;
  padding: 0px 22px;
  background-repeat: no-repeat;
  top: 2px;
  position: relative;
}

.usablearea:before{
  content: '';
  background-image: url(../../uploads/2019/10/nutzflaeche.png);
  width: 100px;
  background-size: 40px;
  padding: 0px 22px;
  background-repeat: no-repeat;
  top: 2px;
  position: relative;
}

.officespace:before{
  content: '';
  background-image: url(../../uploads/2019/10/bueroflaeche.png);
  width: 100px;
  background-size: 40px;
  padding: 0px 22px;
  background-repeat: no-repeat;
  top: 2px;
  position: relative;
}


div#logo-container img {
  width: 220px;
}

/* .rent_info{
  display: none;
  padding: 25px;
} */

.rent_wrapper li {
  list-style: none;
  margin: 10px;
}

.rent_wrapper ul {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.rent_wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.rent_heading.wpb_column.vc_column_container.vc_col-sm-12 {
  max-width: 836px;
  width: 100%;
}

.rent_heading h1{
  background-image: linear-gradient(to right, #001B69 , #E62658);
  color: #fff;
  padding: 32px 0 32px 321px;
}

.rent_heading .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}

.rent_button_box button {
  background: #E62658;
  max-width: 188px;
  width: 100%;
  color: #fff;
  border-radius: 29px;
  border: none;
  height: 41px;
  font-size: 18px;
}

.rent_container {
  display: flex;
}

.rent_button_box {
  align-self: center;
}

p.rent_num {
  color: #E62658;
  font-size: 22px;
  line-height: 37px;
  font-weight: bold;
}


.contact_row {
  padding: 37px 15px 0px 321px;
}

.contact_label {
  color: #616161;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 31px;
  margin-top: 28px;
}

form.wpcf7-form p {
  text-align: center;
}

form.wpcf7-form {
  max-width: 515px;
  width: 100%;
  margin-bottom: 100px;
}

.contact_section{
  background-color: #e6e6e6;
}

.adress_box .vc_column-inner {
  background: #001B69;
  max-width: 624px;
  width: 100%;
  height: 100%;
  max-height: 724px;
  padding: 87px 15px 0 109px;
  position: relative;
  top: 200px;
}

.adress_box h1, .adress_box p{
  color: #fff;
}

.wfm-mega-menu ul li a:hover {
  border-bottom: 3px solid #001B69;
}

.contact_button .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover {
  background-color: #E62658 !important;
  color: #fff !important;
  border-color: #E62658 !important;
}

.expose_button .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover {
  background-color: #FFFFFF33 !important;
}

.contact_button {
  width: 100%;
  max-width: 406px;
}

a._mPS2id-h.mPS2id-clicked {
  border-bottom: 3px solid #E62658;
}

/* responsive styles
----------------------------------- */

@media (max-width: 1890px) {
  .two_box_row {
    padding: 0 15px;
  }
}

@media (max-width: 1800px) {
  .img_margin {
    top: 35px;
  }
}

@media (max-width: 1660px) {
  .gradient_box {
    padding: 36px 15px 100px 65px;
    max-width: 600px;
  }
  .grey_bg {
    padding: 98px 230px 118px 230px;
  }
  .progress_section {
    padding: 0 120px;
  }
  .mieten_section {
    padding: 0px 230px 0px 230px;
  }
  .standort_section {
    padding: 0px 0px 0px 230px;
  }
}

@media (max-width: 1550px) {
  .wfm-mega-menu ul li a {
    margin-right: 0px;
  }
}

@media (max-width: 1460px) {
  .standort_section {
    padding: 0px 0px 0px 120px;
  }
  .grey_bg {
    padding: 98px 230px 118px 120px;
  }
  .progress_section {
    padding: 0 120px;
  }
  .mieten_section {
    padding: 0px 230px 0px 120px;
  }
  .standort_section {
    padding: 0px 0px 0px 120px;
  }
}


@media (max-width: 1400px) {
  header .col-md-6 {
    width: unset !important;
    max-width: none;
  }
  /* header .col-sm-4 {
    width: 33.33333333% !important;
    display: flex;
    justify-content: center;
  } */
}


@media (max-width: 1200px) {
  .blue_bg_row {
    padding: 87px 15px 243px 120px;
  }
  .standort_section {
    padding: 0px 0px 0px 120px;
  }
  .mieten_section {
    padding: 0px 120px 0px 120px;
  }
  .grey_bg {
    padding: 98px 120px 118px 120px;
  }
  footer {
    padding: 10px 15px 10px 0;
  }
  .gradient_box {
    background-image: linear-gradient(to right, #001B69 , #E62658);
    width: 100%;
    position: relative;
    z-index: 2;
    top: 0;
    max-width: initial !important;
    text-align: center;
    padding: 35px 35px 0px 35px!important;
  }
  .buero_img .vc_column-inner {
    padding: 0 15px !important;
  }
  .contact_row {
    padding: 37px 15px 0px 15px;
  }
  .rent_heading h1 {
    padding: 32px 0 32px 30px;
  }
}




@media (max-width: 1180px) {}

@media (max-width: 1024px) {
  .wfm-mega-menu ul li a{
    padding: 0 10px 15px 10px;
    font-size: 22px;
  }
  .grey_bg {
    padding: 98px 15px 118px 40px;
  }
  .progress_section {
    padding: 0 40px;
  }
  .mieten_section {
    padding: 0px 15px 0px 40px;
  }
  .standort_section {
    padding: 0px 0px 0px 40px;
  }
  .blue_bg_row {
    padding: 87px 15px 243px 40px;
  }
}


@media (max-width: 999px) {
  /* mobile nav */
  .slicknav_parent a.slicknav_item.slicknav_row:after {
    content: "\2039";
    position: absolute;
    padding: 0px 20px;
    transform: rotate(270deg);
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.1s;
    right: 20px;
  }

  .slicknav_parent.slicknav_open a.slicknav_item.slicknav_row:after {
    transform: rotate(90deg);
    right: 15px;
  }


  .slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em;
    display: none;
  }


  .slicknav_nav a {
    padding: 12px 15px;
    font-size: 20px;
    margin: 0;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 12px 15px;
    margin: 0;
  }

  .slicknav_nav li, .slicknav_nav ul.sub-menu li {
    border-bottom: 1px solid #E62658;
    padding-left: 0;
}

  .slicknav_btn {
    position: absolute;
    right: 0;
    margin-top: 0px;
    margin-right: 20px;
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .slicknav_menu .slicknav_icon-bar {
    background-color: #000000;
    width: 25px;
    height: 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 7px;
  }

  /* slicknav animation start */
  .slicknav_btn span.slicknav_icon-bar:nth-child(1) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn span.slicknav_icon-bar:nth-child(2) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn span.slicknav_icon-bar:nth-child(3) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* slicknav animation end */
  .slicknav_nav ul {
    margin: 0 0 0 0px;
  }

  .slicknav_nav ul li {
    padding-left: 5px;
  }

  .slicknav_nav ul li:last-child {
    border-bottom: none;
  }

  .slicknav_nav a {
    color: #001B69;
  }

  .slicknav_nav a:hover{
    color: #001B69;
    background: transparent;
  }
}


@media (min-width: 992px) { }

@media (max-width: 991px) {
  .hide_mobil{
    display: none;
  }
}

@media (max-width: 887px) {}

@media (max-width: 849px) {
  .rent_container {
    flex-flow: column;
  }
  .rent_button_box {
    align-self: auto;
  }
}

@media (max-width: 785px) {
  span.progress_text {
    left: -15px;
  }
  .adress_box .vc_column-inner {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  header .col-md-6 {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .standort_box img {
    max-width: 100% !important;
  }
  .adress_box .vc_column-inner {
    background: #001B69;
    max-width: initial;
    width: 100%;
    height: 100%;
    max-height: 724px;
    position: relative;
    top: 0;
  }
  .adress_box {
    margin-bottom: 35px;
  }
  form.wpcf7-form {
    max-width: initial;
  }
  /* mobile nav */
  /* .slicknav_parent a.slicknav_item.slicknav_row:after {
    content: "\2039";
    position: absolute;
    padding: 0px 20px;
    transform: rotate(270deg);
    display: inline-block;
    font-size: 25px;
    transition-duration: 0.1s;
    right: 20px;
  }

  .slicknav_parent.slicknav_open a.slicknav_item.slicknav_row:after {
    transform: rotate(90deg);
    right: 15px;
  }


  .slicknav_nav .slicknav_arrow {
    font-size: .8em;
    margin: 0 0 0 .4em;
    display: none;
  }


  .slicknav_nav a {
    padding: 12px 15px;
    font-size: 20px;
    margin: 0;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 12px 15px;
    margin: 0;
  }

  .slicknav_nav li, .slicknav_nav ul.sub-menu li {
    border-bottom: 1px solid #AACE42;
    padding-left: 0;
}

  .slicknav_nav ul.sub-menu li a {
    background: #e8e8e8;
  }

  .slicknav_btn {
    position: absolute;
    right: 0;
    margin-top: -98px;
    margin-right: 20px;
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }

  .slicknav_menu .slicknav_icon-bar {
    background-color: #000000;
    width: 25px;
    height: 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #fff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 7px;
  }


  .slicknav_btn span.slicknav_icon-bar:nth-child(1) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn span.slicknav_icon-bar:nth-child(2) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn span.slicknav_icon-bar:nth-child(3) {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .slicknav_btn.slicknav_open span.slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }


  .slicknav_nav ul {
    margin: 0 0 0 0px;
  }

  .slicknav_nav ul li {
    padding-left: 5px;
  }

  .slicknav_nav ul li:last-child {
    border-bottom: none;
  }

  .slicknav_nav a {
    color: #fff;
  }

  .slicknav_nav a:hover{
    color: #AACE42;
  } */
  .progress_info {
    display: flex;
  }
  .progress_section {
    padding: 0 40px;
  }
  .mieten_section {
    padding: 0 15px;
  }
  .standort_section {
    padding: 0 15px;
  }
  .blue_bg_row {
    padding: 87px 15px 243px 15px;
  }
  .grey_bg {
    padding: 98px 15px 118px 15px;
}
}

@media (max-width: 676px) {}

@media (max-width: 635px) {
  span.progress_text {
    top: -35px;
  }
}

@media (max-width: 479px) {}

@media (max-width: 375px) {
  footer .horizontal-menu {
    float: left !important;
  }
  ul#menu-footernavigation {
    display: block;
  }
}

@media (max-width: 320px) {
    .vc_general.vc_single_bar.vc_progress-bar-color-bar_blue {
      transform: rotate(90deg);
      position: relative;
      top: 140px;
    } 
    .progress_icon:after {
      content: "";
      background-image: url(images/timeline-dot.svg);
      /* padding: 7px 27px 6px 0; */
      display: block;
      /* width: 30px; */
      height: 30px;
      top: 0;
      position: relative;
      left: 98px;
      background: #001B69;
      -webkit-mask: url(images/timeline-dot.svg) no-repeat;
  }
    .progress_section {
      padding: 0 40px;
      display: flex;
      flex-flow: column;
      align-items: end;
  }
  .progress_info {
    display: block;
  }
  h2.wpb_heading.wpb_progress_bar_heading {
    position: relative;
    left: -60px;
  }
}